/* ----- estilos do rodapé ----- */
.rodape{
    background-color: rgb(27, 27, 27); /*poggers*/
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
.rodape h2{
    padding-bottom: 1%;
}
.lista-paginas{
    display: flex;
    flex-direction: column;
    list-style: square;
    font-weight: 500;
}
.lista-paginas li a{
    text-decoration: none;
    color: white;
}
#retorna-pg{
    text-decoration: none;
    color: white;
    font-size: 14px;
}