* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body {
    background-color: #1b1b1b;
}
.cabecalho {
    background-color: #6ebee4;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 4%;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    background-color: #c3e2ea;
}
.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
}

.card1 {
    padding: 1% 0;
    font-size: 18px;
    font-weight: 500;
}

.card2 {
    display: flex;
    padding: 2% 30%;
    text-align: start;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border: solid 1px black;
    border-radius: 15px;
}
.lista-propostas {
    list-style: circle;
}
.rodape {
    background-color: #1b1b1b;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
.lista-paginas {
    display: flex;
    flex-direction: column;
    list-style: square;
    font-weight: 500;
}
.lista-paginas li a {
    text-decoration: none;
    color: white;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: #1b1b1b;
}

.cabecalho {
    background-color: #6ebee4;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 4%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    background-color: #c3e2ea;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
}

.card1 {
    padding: 1% 0;
    font-size: 18px;
    font-weight: 500;
}

.card2 {
    display: flex;
    padding: 2% 30%;
    text-align: start;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border: solid 1px black;
    border-radius: 15px;
}

.lista-propostas {
    list-style: circle;
}

.rodape {
    background-color: #1b1b1b;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.lista-paginas {
    display: flex;
    flex-direction: column;
    list-style: square;
    font-weight: 500;
}

.lista-paginas li a {
    text-decoration: none;
    color: white;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: #1b1b1b;
}

.cabecalho {
    background-color: #6ebee4;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 4%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    background-color: #c3e2ea;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
}

.card1 {
    padding: 1% 0;
    font-size: 18px;
    font-weight: 500;
}

.card2 {
    display: flex;
    padding: 2% 30%;
    text-align: start;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border: solid 1px black;
    border-radius: 15px;
}

.lista-propostas {
    list-style: circle;
}

.rodape {
    background-color: #1b1b1b;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.lista-paginas {
    display: flex;
    flex-direction: column;
    list-style: square;
    font-weight: 500;
}

.lista-paginas li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
