/* ----- estilos do conteudo ----- */
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    background-color: #c3e2ea;
}
.cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
}
.card1{
    padding: 1% 0;
    font-size: 18px;
    font-weight: 500;
}
.card2{
    display: flex;
    padding: 2% 30%;
    text-align: start;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border: solid 1px black;
    border-radius: 15px;
}
.lista-propostas{
    list-style: circle;
}